<html>
    <head>
        <link rel="stylesheet" href="/libs/bootstrap.min.css">
        <link rel="stylesheet" href="/libs/bootstrap-icons-1.11.3/font/bootstrap-icons.min.css">
        <link rel="icon" type="image/png" href="/g3.png">
        <title>G3 Scouting!</title>
        <script src="/libs/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
        <script src="/api.js"></script>
    </head>
    <body>

        <div id="save">
            &nbsp;&nbsp;&nbsp;
            <div>
                <button class="head-buttons">
                    <a href="/">
                        Go Home <i class="bi bi-house-door-fill"></i>
                    </a>
                </button>
            </div>
        </div>

        <br>

        <h2>
            Auto Assigner
            <i class="bi bi-caret-down-fill collapse-icon"></i>
        </h2>

        <div style="font-weight: bold;">
            High Priority Teams (In order): <input class="form-control" id="aas-hpt" type="text" placeholder="EX: 1648, 1234, 4321">
            Length of breaks (In matches): <input class="form-control" id="aas-lob" type="text" placeholder="EX: 1">
            Matches between breaks: <input class="form-control" id="aas-mbb" type="text" placeholder="EX: 5">
            Scout break offsets: <input class="form-control" id="aas-off" type="text" placeholder="EX: 1">
            Users to not assign matches: <input class="form-control" id="aas-dna" type="text" placeholder="EX: gray, admin">
            <br>
            <button class="btn btn-primary" id="aas-button">Simulate</button>
            <div id="aas-results"></div>
        </div>
        
        <hr>

        <h2>
            Matches
            <i class="bi bi-caret-down-fill collapse-icon"></i>
        </h2>

        <div>

            <table class="table table-hover table-bordered" id="match-table" style="margin-top: -6px;">
                <thead style="font-weight: bold;">
                    <tr>
                        <td style="width: 1px">Number</td>
                        <td>Red 1</td>
                        <td>Red 2</td>
                        <td>Red 3</td>
                        <td>Blue 1</td>
                        <td>Blue 2</td>
                        <td>Blue 3</td>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>

        <hr>

        <h2>
            Settings
            <i class="bi bi-caret-down-fill collapse-icon"></i>
        </h2>

        <div id="settings">
            <span id="currentKey"></span><br>
            <span>TBA Event Key:</span>
            <input class="form-control" id="eventKey" type="text" placeholder="YYYYSSCCC"><br>
            <button class="btn btn-primary" id="save-settings">Save</button>
        </div>

        <hr>

        <h2>
            Users
            <i class="bi bi-caret-down-fill collapse-icon"></i>
        </h2>

        <div id="users">


            <div>
                <button class="btn btn-primary" id="add-user">
                    Add User
                </button>
            </div>

            <table class="table table-hover table-bordered" id="user-table">

                <thead>
                    <tr>
                            <th scope="col" width="1px"></th>
                        <% for (x=0; x<Object.keys(users[0]).length; x++) { %>
                            <th scope="col">
                                <!-- <button class="btn btn-link" onclick="sortTable('<%= x %>')"> -->
                                    <%= Object.keys(users[0])[x] %>
                                <!-- </button> -->
                            </th>
                        <% } %>
                    </tr>
                </thead>

                <tbody>

                    <% for(i = 0; i < users.length; i++) { %>
                        <tr id="row-<%= i %>">  
                            <td>
                                <i class="bi bi-trash-fill user-delete curser"></i>
                            </td>
                            <% for (x=0; x<Object.keys(users[i]).length; x++) { %>
                                <td>
                                    <% const key = Object.keys(users[i])[x] %>
                                    <%= users[i][key] %>
                                </td>
                            <% } %>
                        </tr>
                    <% } %>
                </tbody>

            </table>

        </div>

        <hr>

        <h2>
            Permissions
            <i class="bi bi-caret-down-fill collapse-icon"></i>
        </h2>

        <div id="permissions">
            
            <div>
                <button class="btn btn-primary" id="add-perm">
                    Add Permission
                </button>
            </div>

            <table class="table table-hover table-bordered" id="perm-table">

                <thead>
                    <tr>
                        <th>
                            id
                        </th>
                        <% for (x=0; x<Object.keys(perms[0]).length; x++) { %>
                            <th scope="col">
                                <!-- <button class="btn btn-link" onclick="sortTable('<%= x %>')"> -->
                                    <%= Object.keys(perms[0])[x] %>
                                <!-- </button> -->
                            </th>
                        <% } %>
                    </tr>
                </thead>

                <tbody>

                    <% for(i = 0; i < perms.length; i++) { %>
                        <tr>
                            <td>
                                <%= i %>
                            </td>
                            <% for (x=0; x<Object.keys(perms[i]).length; x++) { %>
                                <td>
                                    <% const key = Object.keys(perms[i])[x] %>
                                    <%= perms[i][key] %>
                                </td>
                            <% } %>
                        </tr>
                    <% } %>
                </tbody>

            </table>

            <b>Note: You cannot delete permissions. The only way to remove them is to clear the database.</b>
        </div>
    </body>
</html>

<style>
    span {
        font-weight: bold;
    }

    body {
        margin: 20px;
        background-color: rgb(255, 73, 73);
    }

    table {
        border-top: 3px;
        margin-top: 40px;
    }

    #save {
        position: absolute;
        left: 100px;
        top: 5px;
        display : inline-flex;
    }

    .head-buttons a {
        color: black;
        text-decoration: none;
    }

    .head-buttons {
        border: none;
    }

    #user-table, #perm-table {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .curser:hover {
        cursor: pointer;
    }

    #aas-results a {
        margin-left: 20px;
    }
</style>

<script src="/admin.js"></script>