<html>
    <head>
        <link rel="stylesheet" href="/libs/bootstrap.min.css">
        <link rel="stylesheet" href="/libs/bootstrap-icons-1.11.3/font/bootstrap-icons.min.css">
        <link rel="stylesheet" href="/global.css">
        <link rel="icon" type="image/png" href="/g3.png">
        <title>G3 Scouting!</title>
        <script src="/libs/jquery-3.7.1.min.js"></script>
        <script src="/js/global.js"></script>
    </head>
    <body>

        <%- nav %>

        <br>

        <div id="dropdowns">

            <h2>
                <a href="/admin/formMaker">Form Maker / Manager</a>
            </h2>
            <hr>

            <h2 id="aa-h2" class="collapse-icon-parent">
                Auto Assigner
                <i class="bi bi-caret-down-fill collapse-icon"></i>
            </h2>

            <div id="aa" style="font-weight: bold;">
                High Priority Teams (In order): <input class="text-input form-control" id="aas-hpt" type="text" placeholder="EX: 1648, 1234, 4321">
                Length of breaks (In matches): <input class="text-input form-control" id="aas-lob" type="text" placeholder="EX: 1">
                Matches between breaks: <input class="text-input form-control" id="aas-mbb" type="text" placeholder="EX: 5">
                Scout break offsets: <input class="text-input form-control" id="aas-off" type="text" placeholder="EX: 1">
                Users to not assign matches: <input class="text-input form-control" id="aas-dna" type="text" placeholder="EX: gray, admin">
                Scouting groups: <input class="text-input form-control" id="aas-sgr" type="text" placeholder="EX: [gray, admin], [esan, woody, rohan], [asher, ankit]">
                Form: <input class="text-input form-control" id="aas-form" type="text" placeholder="EX: Quantitative"><br>

		<div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="aas-equ">
                    <label class="form-check-label" for="aas-equ">Qualitative Scouting</label>
                </div>
                <div id="qualitativeOptions">
                    <span class="smallerbr"></span>
                    <span>Qualitative teams:</span> <input class="text-input form-control" id="aas-qtm" type="text" placeholder="EX: 1648, 1234, 4321">
                    <span>Qualitative forms per team:</span> <input class="text-input form-control" id="aas-qpt" type="text" placeholder="EX: 1">
                    <span>Qualitative scouts:</span> <input class="text-input form-control" id="aas-qsc" type="text" placeholder="EX: gray, admin">
                    <span>Qualitative form:</span> <input class="text-input form-control" id="aas-qform" type="text" placeholder="EX: Qualitative"><br>
                </div>
                
		<div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" checked id="aas-soa">
                    <label class="form-check-label" for="aas-soa">Scouts stick to one alliance</label>
                </div>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="aas-hob">
                    <label class="form-check-label" for="aas-hob">High priority matches are more important than breaks</label>
                </div>
		<div class="form-check form-switch">
		    <input class="form-check-input" type="checkbox" checked id="aas-dnr">
		    <label class="form-check-label" for="aas-dnr">Do not reset match completion data</label>
		</div>

                <br>

                <h4>
                    Manual Assignments
                </h4>
                <a>Warning! Manual Assignments will override all other settings.</a>
                <div>
                    <div style="display: inline-flex;">
                        <input class="text-input form-control" id="ma-match" style="width: fit-content !important;" type="text" placeholder="Match Number">&nbsp;
                        <select class="form-select" id="ma-station" style="width: fit-content;">
                            <option value="" disabled selected>Select Station</option>
                            <option value="Red1">Red 1</option>
                            <option value="Red2">Red 2</option>
                            <option value="Red3">Red 3</option>
                            <option value="Blue1">Blue 1</option>
                            <option value="Blue2">Blue 2</option>
                            <option value="Blue3">Blue 3</option>
                        </select>&nbsp;                        
                        <select class="form-select" id="ma-person" style="width: fit-content;">
                            <option value="" disabled selected>Select User</option>
                            <% for(i = 0; i < users.length; i++) { %>
                                <option value="<%= users[i].username %>"><%= users[i].username %></option>
                            <% } %>
                        </select>&nbsp;                        
                        <button class="btn btn-primary" id="ma-add">Add</button>
                    </div><br>
                    <div id="ma-list"></div>
                </div>

                <br>

                <button class="btn btn-primary" id="aas-button">Simulate</button>
                <button class="btn btn-primary" id="aad-button">Deploy</button>
		<button class="btn btn-primary" id="load_save">Load Config</button>
                <div id="aas-results"></div>

                <br>

		<h4 class="collapse-icon-parent">
		    Config Save Data
		    <i class="bi bi-caret-down-fill collapse-icon"></i>
		</h4>
		<div>
		    <textarea type="textarea" id="save-data" rows="3"></textarea>
		</div>

		<br>

                <h4 class="collapse-icon-parent">
                    Simulated Schedule
                    <i class="bi bi-caret-down-fill collapse-icon"></i>
                </h4>
                <div>
                    <table class="table table-hover table-bordered" id="simulator-table" style="margin-top: -6px;">
                        <thead style="font-weight: bold;">
                            <tr>
                                <td style="width: 1px">Number</td>
                                <td>Red 1</td>
                                <td>Red 2</td>
                                <td>Red 3</td>
                                <td>Blue 1</td>
                                <td>Blue 2</td>
                                <td>Blue 3</td>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
            
            <hr>

            <h2 id="data-h2" class="collapse-icon-parent">
                Data Table Manager
                <i class="bi bi-caret-down-fill collapse-icon"></i>
            </h2>

            <div id="data">

                <br>
                <table class="table table-hover table-bordered" id="table-table" style="margin-top: -6px; margin-right: 20px;">
                    <thead style="font-weight: bold;">
                        <tr>
                            <td width="1px;"></td>
                            <td>Data Table</td>
                        </tr>
                    </thead>
                    <tbody>
                        <% for (x=0; x<data.length; x++) { %>
                            <tr>
                                <td><i class="bi bi-trash-fill delete-data-table"></i></td>
                                <td><%= data[x] %></td>
                            </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>

            <hr>
                                
            <h2 id="matches-h2" class="collapse-icon-parent">
                Matches / Schedule
                <i class="bi bi-caret-down-fill collapse-icon"></i>
            </h2>

            <div id="matches">

                <br>
                <table class="table table-hover table-bordered" id="match-table" style="margin-top: -6px;">
                    <thead style="font-weight: bold;">
                        <tr>
                            <td style="width: 1px">Number</td>
                            <td>Red 1</td>
                            <td>Red 2</td>
                            <td>Red 3</td>
                            <td>Blue 1</td>
                            <td>Blue 2</td>
                            <td>Blue 3</td>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>

            <hr>

            <h2 id="settings-h2" class="collapse-icon-parent">
                Settings
                <i class="bi bi-caret-down-fill collapse-icon"></i>
            </h2>

            <div id="settings">
                <span id="currentKey"></span><br>
                <span>TBA Event Key:</span>
                <input class="form-control text-input" id="eventKey" type="text" placeholder="YYYYSSCCC"><br>
                <button class="btn btn-primary" id="save-settings">Save Changed Settings</button><br><br>
                <button class="btn btn-danger" id="clear-database">Clear Database</button>
                <!-- <button class="btn btn-danger" id="clear-database-perm">Clear Database and Permissions</button> -->
            </div>

            <hr>

            <h2 id="users-h2" class="collapse-icon-parent">
                Users
                <i class="bi bi-caret-down-fill collapse-icon"></i>
            </h2>

            <div id="users">


                <div>
                    <button class="btn btn-primary" id="add-user">
                        Add User
                    </button>
                </div>

                <br>
                <b>Click on the field of a user to edit it.</b>

                <table class="table table-hover table-bordered" id="user-table">

                    <thead>
                        <tr>
                                <th scope="col" width="1px"></th>
                            <% for (x=0; x<Object.keys(users[0]).length; x++) { %>
                                <th scope="col">
                                    <!-- <button class="btn btn-link" onclick="sortTable('<%= x %>')"> -->
                                        <%= Object.keys(users[0])[x] %>
                                    <!-- </button> -->
                                </th>
                            <% } %>
                        </tr>
                    </thead>

                    <tbody>

                        <% for(i = 0; i < users.length; i++) { %>
                            <tr id="row-<%= i %>">  
                                <td>
                                    <i class="bi bi-trash-fill user-delete curser"></i>
                                </td>
                                <% for (x=0; x<Object.keys(users[i]).length; x++) { %>
                                    <td class="user-field">
                                        <% const key = Object.keys(users[i])[x] %>
                                        <%= users[i][key] %>
                                    </td>
                                <% } %>
                            </tr>
                        <% } %>
                    </tbody>

                </table>

            </div>

            <hr>

            <h2 id="permissions-h2" class="collapse-icon-parent">
                Permissions
                <i class="bi bi-caret-down-fill collapse-icon"></i>
            </h2>

            <div id="permissions">
                
                <div>
                    <button class="btn btn-primary" id="add-perm">
                        Add Permission
                    </button>
                </div>

                <table class="table table-hover table-bordered" id="perm-table">

                    <thead>
                        <tr>
                            <th>
                                id
                            </th>
                            <% for (x=0; x<Object.keys(perms[0]).length; x++) { %>
                                <th scope="col">
                                    <!-- <button class="btn btn-link" onclick="sortTable('<%= x %>')"> -->
                                        <%= Object.keys(perms[0])[x] %>
                                    <!-- </button> -->
                                </th>
                            <% } %>
                        </tr>
                    </thead>    

                    <tbody>

                        <% for(i = 0; i < perms.length; i++) { %>
                            <tr>
                                <td>
                                    <%= i %>
                                </td>
                                <% for (x=0; x<Object.keys(perms[i]).length; x++) { %>
                                    <td>
                                        <% const key = Object.keys(perms[i])[x] %>
                                        <%= perms[i][key] %>
                                    </td>
                                <% } %>
                            </tr>
                        <% } %>
                    </tbody>

                </table>

                <b>Note: You cannot delete permissions. The only way to remove them is to clear the database. You can do this in settings.</b>
            </div>

        </div>
        <br>
    </body>
</html>

<script>$("#nav-admin").addClass("active")</script>

<style>

    .smallerbr {
        display: block; 
        margin-bottom: 15px; 
    }

    html {
        user-select: none;
    }

    hr {
        width: calc(100% - 40px);
    }

    #dropdowns {
        margin-left: 20px;
    }
    
    span {
        font-weight: bold;
    }

    input, select {
        background-color: rgb(173, 176, 179);
        border-color: rgb(173, 176, 179);
    }

    table {
        border-top: 3px;
        margin-top: 40px;
    }

    #save {
        position: absolute;
        left: 100px;
        top: 5px;
        display : inline-flex;
    }

    .head-buttons a {
        color: black;
        text-decoration: none;
    }

    .head-buttons {
        border: none;
    }

    #user-table, #perm-table, #table-table {
        margin-top: 15px;
        margin-bottom: 15px;
        width: calc(100% - 30px);
    }

    .curser:hover {
        cursor: pointer;
    }

    #aas-results a {
        margin-left: 20px;
    }

    #matches {
        width: calc(100% - 20px);
    }

    #simulator-table {
        width: calc(100% - 20px);
    }

    .text-input, #save-data{
        width: calc(100% - 20px) !important;
    }
</style>

<script src="/js/admin.js"></script>
