<html>

<head>
    <link rel="stylesheet" href="/libs/bootstrap.min.css">
    <link rel="stylesheet" href="/libs/bootstrap-icons-1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/global.css">
    <link rel="icon" type="image/png" href="/g3.png">
    <title>G3 Scouting!</title>
    <script src="/libs/jquery-3.7.1.min.js"></script>
    <script>var exports = {};</script>
    <script type="module" src="/js/global.js"></script>
</head>

<body>

    <%- nav %>

        <br>

        <div id="dropdowns">

            <h3>Match: <%= match %>
            </h3>
            <div class="input-group mb-3" style="width: 200px !important;">
                <input type="number" step="1" min="0" class="form-control" id="matchNumber" value="<%= match + 1 %>">
                <button class="btn btn-secondary" type="button" id="setMatch">Set Match</button>
            </div>

            <hr>

            <h2 id="matchData-h2" class="collapse-icon-parent">
                Match Review
                <i class="bi bi-caret-down-fill collapse-icon"></i>
            </h2>

            <div id="matchData">
                <br>
                <h4>Current Match: <%= matchReview.current.number %></h4>
                <table class="table table-bordered match-review-tables">
                    <thead>
                        <tr>
                            <td>Scout</td>
                            <td>Scout Id</td>
                            <td>Response Id</td>
                            <td>Team</td>
                        </tr>
                    </thead>
                    <tbody>
                        <% for (let i = 0; i < matchReview.current.responses.length; i++) { %>
                            <tr>
                                <td><%= matchReview.current.responses[i].scout %></td>
                                <td><%= matchReview.current.responses[i].scoutId %></td>
                                <td><%= matchReview.current.responses[i].id %></td>
                                <td><%= matchReview.current.responses[i].teamNum %></td>
                            </tr>
                        <% } %>
                        <% for (let i = 0; i < matchReview.current.evilScouts.length; i++) { %>
                            <tr>
                                <td><%= matchReview.current.evilScouts[i].username %></td>
                                <td><%= matchReview.current.evilScouts[i].id %></td>
                                <td colspan="2">No response yet...</td>
                            </tr>
                        <% } %>
                    </tbody>
                </table>
                <h4>Previous Match: <%= matchReview.last.number %></h4>
                <table class="table table-bordered match-review-tables">
                    <thead>
                        <tr>
                            <td>Scout</td>
                            <td>Scout Id</td>
                            <td>Response Id</td>
                            <td>Team</td>
                        </tr>
                    </thead>
                    <tbody>
                        <% for (let i = 0; i < matchReview.last.responses.length; i++) { %>
                            <tr>
                                <td><%= matchReview.last.responses[i].scout %></td>
                                <td><%= matchReview.last.responses[i].scoutId %></td>
                                <td><%= matchReview.last.responses[i].id %></td>
                                <td><%= matchReview.last.responses[i].teamNum %></td>
                            </tr>
                        <% } %>
                        <% for (let i = 0; i < matchReview.last.evilScouts.length; i++) { %>
                            <tr>
                                <td><%= matchReview.last.evilScouts[i].username %></td>
                                <td><%= matchReview.last.evilScouts[i].id %></td>
                                <td colspan="2">No response.</td>
                            </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>

            <hr>

            <h2 id="aa-h2" class="collapse-icon-parent">
                Schedule / Assignments
                <i class="bi bi-caret-down-fill collapse-icon"></i>
            </h2>

            <div id="aa">
                <br>
                <button class="btn btn-primary" id="status-update">Set to: scouting</button>
                <button class="btn btn-success" id="deploy">Deploy Schedule</button>

                <table class="table table-bordered" id="schedule">
                    <thead>
                        <tr>
                            <td>Name</td>
                            <td>Id</td>
                            <% let seenDays=[]; for (let i=0; i < times.length; i++) { %>
                                <td>
                                    <%= seenDays.includes(times[i].split("-")[0]) ? times[i].split("-")[1] : times[i] %>
                                </td>

                                <% if (!seenDays.includes(times[i].split("-")[0]))
                                    {seenDays.push(times[i].split("-")[0])} %>
                                <% } %>
                        </tr>
                    </thead>
                    <tbody>
                        <% for (let a=0; a < users.length; a++) { %>
                            <tr>
                                <td style='color: <%= users[a].assignedAlliance %>'
                                    data-alliance=<%=users[a].assignedAlliance %> class="schedule-username"><%=
                                        users[a].username %>
                                </td>
                                <td>
                                    <%= users[a].id %>
                                </td>
                                <% for (let i=0; i < times.length; i++) { %>
                                    <td class="time-slots" data-deployed-status=<%=users[a].assignments?.[i]?.status
                                        ?? "break" %>
                                        style="background-color:<%= (users[a].assignments?.[i]?.status ?? "break"
                                            )=="scouting" ? "lightblue" : "white" %>;"
                                            >
                                    </td>
                                    <% } %>
                            </tr>
                            <% } %>
                    </tbody>
                </table>
            </div>

            <hr>

            <h2 id="settings-h2" class="collapse-icon-parent">
                Settings
                <i class="bi bi-caret-down-fill collapse-icon"></i>
            </h2>

            <div id="settings">
                <span id="currentKey"></span><br>
                <span>TBA Event Key:</span>
                <input class="form-control text-input" id="eventKey" type="text" placeholder="yyyysscccc"><br>
                <span id="currentDay"></span><br>
                <span>Event Day Number:</span>
                <input class="form-control text-input" id="eventDay" type="text" placeholder="#"><br>
                <button class="btn btn-primary" id="save-settings">Save Changed Settings</button><br><br>
                <button class="btn btn-danger" id="clear-database">Clear Database</button>
                <button class="btn btn-danger" id="resetAssignedMatchData">Reset Assigned Match Data</button>
                <!-- <button class="btn btn-danger" id="clear-database-perm">Clear Database and Permissions</button> -->
            </div>

            <hr>

            <h2 id="users-h2" class="collapse-icon-parent">
                Users
                <i class="bi bi-caret-down-fill collapse-icon"></i>
            </h2>

            <div id="users">


                <div>
                    <button class="btn btn-primary" id="add-user">
                        Add User
                    </button>
                </div>

                <br>
                <b>Click on the field of a user to edit it.</b>

                <table class="table table-hover table-bordered" id="user-table">

                    <thead>
                        <tr>
                            <th scope="col" width="1px"></th>
                            <th scope="col">
                                id
                            </th>
                            <th scope="col">
                                username
                            </th>
                            <th scope="col">
                                password
                            </th>
                            <th scope="col">
                                permissionId
                            </th>
                        </tr>
                    </thead>

                    <tbody>
                        <% for(let i=0; i < users.length; i++) { %>
                            <tr id="row-<%= i %>">
                                <td>
                                    <i class="bi bi-trash-fill user-delete curser"></i>
                                </td>
                                <td class="user-field">
                                    <%= users[i].id %>
                                </td>
                                <td class="user-field">
                                    <%= users[i].username %>
                                </td>
                                <td class="user-field">
                                    <%= users[i].password %>
                                </td>
                                <td class="user-field">
                                    <%= users[i].permissionId %>
                                </td>
                            </tr>
                            <% } %>
                    </tbody>

                </table>

            </div>

            <hr>

            <h2 id="permissions-h2" class="collapse-icon-parent">
                Permissions
                <i class="bi bi-caret-down-fill collapse-icon"></i>
            </h2>

            <div id="permissions">

                <div>
                    <button class="btn btn-primary" id="add-perm">
                        Add Permission
                    </button>
                </div>

                <table class="table table-hover table-bordered" id="perm-table">

                    <thead>
                        <tr>
                            <th>
                                id
                            </th>
                            <% for (x=0; x<Object.keys(perms[0]).length; x++) { %>
                                <th scope="col">
                                    <!-- <button class="btn btn-link" onclick="sortTable('<%= x %>')"> -->
                                    <%= Object.keys(perms[0])[x] %>
                                        <!-- </button> -->
                                </th>
                                <% } %>
                        </tr>
                    </thead>

                    <tbody>

                        <% for(i=0; i < perms.length; i++) { %>
                            <tr>
                                <td>
                                    <%= i %>
                                </td>
                                <% for (x=0; x<Object.keys(perms[i]).length; x++) { %>
                                    <td>
                                        <% const key=Object.keys(perms[i])[x] %>
                                            <%= perms[i][key] %>
                                    </td>
                                    <% } %>
                            </tr>
                            <% } %>
                    </tbody>

                </table>

                <b>Note: You cannot delete permissions. The only way to remove them is to take them out of the
                    settings.json file.</b>
            </div>

        </div>
        <br>
</body>

</html>

<script>$("#nav-admin").addClass("active")</script>

<style>
    #schedule td {
        width: 1px;
    }

    #schedule {
        width: calc(100% - 20px);
        padding-right: 10px;
    }

    .match-review-tables {
        width: calc(100% - 20px);
        margin-top: 0;
        padding-right: 10px;
    }

    .smallerbr {
        display: block;
        margin-bottom: 15px;
    }

    html {
        user-select: none;
    }

    hr {
        width: calc(100% - 40px);
    }

    #dropdowns {
        margin-left: 20px;
    }

    span {
        font-weight: bold;
    }

    input,
    select {
        background-color: rgb(173, 176, 179);
        border-color: rgb(173, 176, 179);
    }

    table {
        border-top: 3px;
        margin-top: 40px;
    }

    #save {
        position: absolute;
        left: 100px;
        top: 5px;
        display: inline-flex;
    }

    .head-buttons a {
        color: black;
        text-decoration: none;
    }

    .head-buttons {
        border: none;
    }

    #user-table,
    #perm-table,
    #table-table {
        margin-top: 15px;
        margin-bottom: 15px;
        width: calc(100% - 30px);
    }

    .curser:hover {
        cursor: pointer;
    }

    #aas-results a {
        margin-left: 20px;
    }

    #matches {
        width: calc(100% - 20px);
    }

    #simulator-table {
        width: calc(100% - 20px);
    }

    .text-input,
    #save-data {
        width: calc(100% - 20px) !important;
    }

    .time-slots:hover {
        cursor: cell;
    }

    .selected {
        background-color: rgb(255, 0, 0);
    }
</style>

<script type="module" src="/js/admin.js"></script>