<html>
    <head>
        <link rel="stylesheet" href="/libs/bootstrap.min.css">
        <link rel="stylesheet" href="/libs/bootstrap-icons-1.11.3/font/bootstrap-icons.min.css">
        <link rel="stylesheet" href="/global.css">
        <link rel="icon" type="image/png" href="/g3.png">
        <title>G3 Scouting!</title>
        <script src="/libs/jquery-3.7.1.min.js"></script>
        <script src="/global.js"></script>
    </head>
    <body>

        <%- nav %>

        <br>

        <div id="dropdowns">

            <h2 id="aa-h2" class="collapse-icon-parent">
                Auto Assigner
                <i class="bi bi-caret-down-fill collapse-icon"></i>
            </h2>

            <div id="aa" style="font-weight: bold;">
                High Priority Teams (In order): <input class="text-input form-control" id="aas-hpt" type="text" placeholder="EX: 1648, 1234, 4321">
                Length of breaks (In matches): <input class="text-input form-control" id="aas-lob" type="text" placeholder="EX: 1">
                Matches between breaks: <input class="text-input form-control" id="aas-mbb" type="text" placeholder="EX: 5">
                Scout break offsets: <input class="text-input form-control" id="aas-off" type="text" placeholder="EX: 1">
                Users to not assign matches: <input class="text-input form-control" id="aas-dna" type="text" placeholder="EX: gray, admin"><br>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="aas-soa">
                    <label class="form-check-label" for="aas-soa">Scouts stick to one alliance</label>
                </div>
                <br>
                <button class="btn btn-primary" id="aas-button">Simulate</button>
                <button class="btn btn-primary" id="aad-button">Deploy</button>
                <div id="aas-results"></div><br>
                <h4 class="collapse-icon-parent">
                    Simulated Schedule
                    <i class="bi bi-caret-down-fill collapse-icon"></i>
                </h4>
                <div>
                    <table class="table table-hover table-bordered" id="simulator-table" style="margin-top: -6px;">
                        <thead style="font-weight: bold;">
                            <tr>
                                <td style="width: 1px">Number</td>
                                <td>Red 1</td>
                                <td>Red 2</td>
                                <td>Red 3</td>
                                <td>Blue 1</td>
                                <td>Blue 2</td>
                                <td>Blue 3</td>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
            
            <hr>

            <h2 id="matches-h2" class="collapse-icon-parent">
                Matches / Schedule
                <i class="bi bi-caret-down-fill collapse-icon"></i>
            </h2>

            <div id="matches">

                <br>
                <table class="table table-hover table-bordered" id="match-table" style="margin-top: -6px;">
                    <thead style="font-weight: bold;">
                        <tr>
                            <td style="width: 1px">Number</td>
                            <td>Red 1</td>
                            <td>Red 2</td>
                            <td>Red 3</td>
                            <td>Blue 1</td>
                            <td>Blue 2</td>
                            <td>Blue 3</td>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>

            <hr>

            <h2 id="settings-h2" class="collapse-icon-parent">
                Settings
                <i class="bi bi-caret-down-fill collapse-icon"></i>
            </h2>

            <div id="settings">
                <span id="currentKey"></span><br>
                <span>TBA Event Key:</span>
                <input class="form-control text-input" id="eventKey" type="text" placeholder="YYYYSSCCC"><br>
                <button class="btn btn-primary" id="save-settings">Save Changed Settings</button><br><br>
                <button class="btn btn-danger" id="clear-database">Clear Database</button>
                <!-- <button class="btn btn-danger" id="clear-database-perm">Clear Database and Permissions</button> -->
            </div>

            <hr>

            <h2 id="users-h2" class="collapse-icon-parent">
                Users
                <i class="bi bi-caret-down-fill collapse-icon"></i>
            </h2>

            <div id="users">


                <div>
                    <button class="btn btn-primary" id="add-user">
                        Add User
                    </button>
                </div>

                <br>
                <b>Click on the field of a user to edit it.</b>

                <table class="table table-hover table-bordered" id="user-table">

                    <thead>
                        <tr>
                                <th scope="col" width="1px"></th>
                            <% for (x=0; x<Object.keys(users[0]).length; x++) { %>
                                <th scope="col">
                                    <!-- <button class="btn btn-link" onclick="sortTable('<%= x %>')"> -->
                                        <%= Object.keys(users[0])[x] %>
                                    <!-- </button> -->
                                </th>
                            <% } %>
                        </tr>
                    </thead>

                    <tbody>

                        <% for(i = 0; i < users.length; i++) { %>
                            <tr id="row-<%= i %>">  
                                <td>
                                    <i class="bi bi-trash-fill user-delete curser"></i>
                                </td>
                                <% for (x=0; x<Object.keys(users[i]).length; x++) { %>
                                    <td class="user-field">
                                        <% const key = Object.keys(users[i])[x] %>
                                        <%= users[i][key] %>
                                    </td>
                                <% } %>
                            </tr>
                        <% } %>
                    </tbody>

                </table>

            </div>

            <hr>

            <h2 id="permissions-h2" class="collapse-icon-parent">
                Permissions
                <i class="bi bi-caret-down-fill collapse-icon"></i>
            </h2>

            <div id="permissions">
                
                <div>
                    <button class="btn btn-primary" id="add-perm">
                        Add Permission
                    </button>
                </div>

                <table class="table table-hover table-bordered" id="perm-table">

                    <thead>
                        <tr>
                            <th>
                                id
                            </th>
                            <% for (x=0; x<Object.keys(perms[0]).length; x++) { %>
                                <th scope="col">
                                    <!-- <button class="btn btn-link" onclick="sortTable('<%= x %>')"> -->
                                        <%= Object.keys(perms[0])[x] %>
                                    <!-- </button> -->
                                </th>
                            <% } %>
                        </tr>
                    </thead>

                    <tbody>

                        <% for(i = 0; i < perms.length; i++) { %>
                            <tr>
                                <td>
                                    <%= i %>
                                </td>
                                <% for (x=0; x<Object.keys(perms[i]).length; x++) { %>
                                    <td>
                                        <% const key = Object.keys(perms[i])[x] %>
                                        <%= perms[i][key] %>
                                    </td>
                                <% } %>
                            </tr>
                        <% } %>
                    </tbody>

                </table>

                <b>Note: You cannot delete permissions. The only way to remove them is to clear the database. You can do this in settings.</b>
            </div>

        </div>
    </body>
</html>

<script>$("#nav-admin").addClass("active")</script>

<style>


    #dropdowns {
        margin-left: 20px;
    }
    
    span {
        font-weight: bold;
    }

    body {
        background-color: rgb(255, 73, 73);
    }

    table {
        border-top: 3px;
        margin-top: 40px;
    }

    #save {
        position: absolute;
        left: 100px;
        top: 5px;
        display : inline-flex;
    }

    .head-buttons a {
        color: black;
        text-decoration: none;
    }

    .head-buttons {
        border: none;
    }

    #user-table, #perm-table {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .curser:hover {
        cursor: pointer;
    }

    #aas-results a {
        margin-left: 20px;
    }

    #matches {
        width: calc(100% - 20px);
    }

    .text-input {
        width: calc(100% - 20px) !important;
    }
</style>

<script src="/admin.js"></script>